.report-link {
    font-size: 16px;
    font-weight: 400;
    padding-top: 4px;
    display: inline-block;
    float: right;
}
#supervideo_area_embed {
    position: relative;
    z-index: 1;
    .logo {
        position: absolute;
        height: 40px;
        background: #fff;
        right: 2px;
        top: 2px;
        z-index: 2
    }
}
#page-mod-supervideo-report table.flexible .header .commands {
    display: none;
}
#mapa-visualizacao {
    display: flex;
    margin: 0 13px;
    background: rgba(206, 206, 206, 0.5);
    padding: 1px;
    div {
        height: 4px;
        background: #e60076;
        width: 100%;
        opacity: 0;
        transition: opacity 200ms;
        cursor: pointer;
        &:hover {
            background: #6e0038;
            opacity: 1;
            margin: -5px 0;
            height: 14px;
        }
    }
    &.report {
        width: 100px;
        margin: 6px 0;
        div {
            height: 7px;
        }
    }
}
#fitem_id_complet_percent .ftext::after {
    content: ' %';
}
#sua-view {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    span {
        font-weight: 700;
    }
}
#fitem_id_videofile {
    input[type='file'] {
        display: none;
    }
    .input-wrapper {
        display: flex;
        align-items: center;
        margin-top: 8px;
        #fitem_id_videofile_file {
            user-select: none;
        }
        label {
            background-color: #3498db;
            border-radius: 5px;
            color: #fff;
            margin: 0 10px 10px;
            padding: 6px 20px;
            &:hover {
                background-color: #2980b9
            }
        }
    }
}