
.form-filetypes-descriptions {
    margin-top: -20px;
    .list-unstyled {
        display: flex;
        gap: 10px;
        li {
            font-size: 0;
            small {
                font-size: 15px;
            }
        }
    }
}
.filemanager.fm-noitems {
    .filemanager-container {
        min-height: 100px;
        .fm-empty-container {
            padding-top: 51px;
            .dndupload-arrow {
                height: 54px;
                i {
                    font-size: 44px;
                }
            }
        }
    }
}
#supervideoheading {
    display: flex;
    align-items: center;
    .supervideoheading-title {
        width: 100%;
    }
    .supervideo-report-link {
        font-size: 16px;
        font-weight: 400;
        padding-top: 4px;
        display: inline-block;
    }
}
#supervideo_area_embed {
    position: relative;
    z-index: 1;
    .logo {
        position: absolute;
        height: 40px;
        background: #fff;
        right: 2px;
        top: 2px;
        z-index: 2
    }
    iframe {
        width: 100%;
    }
}
#page-mod-supervideo-report table.flexible .header .commands {
    display: none;
}
#mapa-visualizacao {
    margin: 5px 0;
    background: rgba(206, 206, 206, 0.5);
    padding: 1px;
    width: 100%;
    position: relative;
    .mapa,
    .clique {
        display: flex;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        div {
            height: 100%;
            background: #e60076;
            width: 100%;
            opacity: 0;
            transition: opacity 200ms;
        }
    }
    .clique {
        z-index: 3;
        div {
            cursor: pointer;
            background: rgba(0, 0, 0, 0);
            &:hover {
                background: rgba(0, 0, 0, 0.2);
                opacity: 1;
            }
        }
    }
    #seu-mapa-view {
        margin: -3px 0 !important;
        padding-bottom: 0;
        font-size: 8px;
        position: relative;
        z-index: 2;
        color: #000;
        text-align: center;
        transition: all ease 0.3s;
        span {
            font-weight: 700;
        }
        @media (max-width: 750px) {
            font-size: 15px;
            margin: 3px 0 !important;
        }
    }
    &:hover {
        #seu-mapa-view {
            font-size: 15px;
            margin: 3px 0 !important;
        }
    }
    &.report {
        display: flex;
        width: 100%;
        margin: 6px 0;
        height: 20px;
        div {
            opacity: 0;
            background: #e60076;
            width: 100%;
            height: 19px;
        }
    }
}
#fitem_id_completionpercent .felement {
    align-items: center !important;
    &::after {
        content: ' %';
        margin-left: 6px;
        font-size: 1.1em;
    }
}
#page-mod-supervideo-view {
    .activity-description {
        iframe {
            width: 96% !important;
        }
    }
}
#error_media_err_aborted,
#error_media_err_network,
#error_media_err_decode,
#error_media_err_src_not_supported,
#error_default {
    display: none;
}
@import "style_player";

.plyr--video {
    width: 100%;
}
.plyr__control {
    margin: 0;
    
    text-shadow: none;
    -webkit-text-shadow: none;
    
    box-shadow: none;
    -webkit-box-shadow: none;
    
    appearance: none;
    -webkit-appearance: none;
}
.plyr--full-ui.plyr--video .plyr__control--overlaid {
    zoom: 1.4;
}
@media (max-width: 750px) {
    .plyr__volume {
        display: none !important;
    }
}
.distraction-free-mode {
    video,
    iframe {
        transition: all .3s ease;
    }
    iframe {
        border-radius: 12px;
        background: #393f46;
    }
    #page #topofscroll {
        background: #393f46;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        margin: 0;
    }
    #id-activity-header {
        position: absolute !important;
        top: 10px !important;
        right: 10px !important;
        margin: 0 !important;
        padding: 0 !important;
        z-index: 999;
        .completion-info {
            margin: 0 !important;
            padding: 0 !important;
            .btn {
                padding: 3px 16px !important;
            }
        }
        .alert-success {
            color: #e9f0e9;
            background-color: #1c3f1a;
        }
        .badge {
            border-color: none;
        }
    }
    .secondary-navigation {
        display: none;
    }
    #page-header {
        .w-100 {
            display: flex;
            align-items: center;
            .page-context-header {
                margin: 0 !important;
                padding: 0 !important;
            }
        }
        #page-navbar {
            // display: none;
            .crumbs {
                li {
                    display: none;
                }
                li:first-child {
                    display: inline;
                    a, span {
                        color: #eceff8;
                        background: transparent;
                        font-size: 0;
                        margin: 0;
                        padding: 0;
                        &:after {
                            content: "\f053";
                            font-size: 26px;
                            font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
                            font-weight: 900;
                            -webkit-font-smoothing: antialiased;
                            display: var(--fa-display, inline-block);
                            font-style: normal;
                            font-variant: normal;
                            line-height: 1;
                            text-rendering: auto;
                            border: none;
                            background: none;
                            position: initial;
                        }
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
        .page-header-headings {
            h1, h2, h3 {
                color: #eceff8;
            }
        }
        .secondary-navigation {
            display: flex;
            padding-bottom: 0 !important;
            margin-left: 20px;
            .nav-link {
                color: #eceff8;
                padding: 7px;
                &.active {
                    display: none;
                }
            }
            .nav-item.dropdown {
                display: none;
            }
        }
    }
    #supervideoheading,
    .text-muted,
    footer {
        display: none !important;
    }
    .drawer {
        z-index: 99;
        top: 0 !important;
    }
    #page-content {
        #region-main-box {
            #region-main {
                background: transparent !important;
                #id-activity-header {
                    background-color: rgba(57, 63, 70, 0.17);
                }
            }
        }
    }
    .activity-navigation {
        &.mt-5, &.mb-1 {
            margin-top: 0 !important;
        }
    }
    #mapa-visualizacao.fixed-booton {
        position: fixed;
        bottom: 0;
        left: 10px;
        width: calc(100% - 20px);
    }
    iframe,
    .plyr__video-wrapper {
        border-radius: 12px;
    }
    .plyr__controls {
        border-radius: 0 0 12px 12px;
    }
}
