#supervideoworkaround {
    position: relative;
    z-index: 1;
    .logo {
        position: absolute;
        height: 40px;
        background: #fff;
        right: 2px;
        top: 2px;
        z-index: 2;
    }
}