{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_supervideo/embed_vimeo

    Example context (json):
    {
        "html_id": "id_123",
        "vimeo_id": "12345abcde",
        "tags": ["class=iframe"]
    }
}}

<script src="https://player.vimeo.com/api/player.js"></script>

<iframe id="{{{elementid}}}"
        style="background: #000;max-height: 687.75px;height: 687.75px;width: 100%;"
        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
        sandbox="allow-scripts allow-forms allow-same-origin allow-modals allow-presentation"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        src="https://player.vimeo.com/video/{{{vimeo_id}}}"></iframe>
