<div style="width:100%;display: flex;justify-content: center;">
    <iframe id="ottflix-iframe-{{{identifier}}}"
            width="100%" style="height: calc(100vw * 0.563);"
            frameborder="0" allowfullscreen
            sandbox="allow-scripts allow-same-origin allow-popups"
            allow=":encrypted-media; :picture-in-picture"
            src="https://app.ottflix.com.br/Share/player/{{{identifier}}}?source=mod_supervideo"></iframe>
</div>