{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_supervideo/mobile

    Example context (json):
    {
        "cmid": 123,
        "iframe_url": "https://example.com/video.mp4"
    }
}}

{{=<% %>=}}
<div class="mod-supervideo-mobile">
    <iframe
            title="Super Video"
            src="{{{iframe_url}}}"
            style="width:100%; min-height: 70vh; border:0;"
            allow="autoplay; encrypted-media; picture-in-picture; fullscreen"
            allowfullscreen="true">
    </iframe>
</div>
