<iframe id="supervideo_iframe"
        style="width:100%;height:100%;"
        frameborder="0" allowfullscreen
        sandbox="allow-scripts allow-same-origin allow-forms"
        allow=":encrypted-media; :picture-in-picture; microphone; camera"
        src="{{ wwwroot }}/mod/supervideo/view-embed.php?id={{ cmid }}&user_id={{ user_id }}&secret={{ secret }}&t={{ t }}"
></iframe>

